version 5.82.0
source https://nuget.org/api/v2

framework: net461
redirects: on

nuget Argu
nuget FSharp.Core
nuget FSharp.Configuration
nuget FSharp.Data
nuget Mono.Posix
nuget NUnit
nuget Unquote
nuget FSharp.Compiler.Service
nuget FSharp.Compiler.Tools
nuget Suave
// NuGet package with higher version doesn't support mono apparently
nuget System.Net.Http 4.0.0

github matthid/Yaaf.FSharp.Scripting src/source/Yaaf.FSharp.Scripting/YaafFSharpScripting.fs

group Build

  source https://nuget.org/api/v2
  
  nuget FAKE
